[project]
	description = This is an extended version of rover
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ammieblue
[access "refs/for/refs/*"]
	read = group user/ammieblue
	push = group user/ammieblue
	label-Code-Review = -2..+2 group user/ammieblue
	label-Verified = -1..+1 group user/ammieblue
	rebase = group user/ammieblue
	removeReviewer = group user/ammieblue
	submit = group user/ammieblue
[access "refs/heads/*"]
	read = group user/ammieblue
	create = group user/ammieblue
	push = +force group user/ammieblue
	pushMerge = group user/ammieblue
[access "refs/tags/*"]
	push = +force group user/ammieblue
	pushTag = group user/ammieblue
	pushSignedTag = group user/ammieblue
